/* палітра кольорів */
/* колір основного тексту #757575 */
/* колір другорядного тексту #212121 */
/* акцент #2196F3*/
/* колір тексту logo #000000 */
/* білий колір тексту та основного фону #FFFFFF */
/* білий колір з прозорістю - посилання на пошту 
та телефон у футері rgba(255, 255, 255, 0.6) */
/* колір фону hero та footer #2F303A*/
/* другорядний колір фону #F5F4FA */
/* колір рамок елеметів портфоліо #EEEEEE */
:root {
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --accent-button: #042d4e;
  --logo-text-color: #000000;
  --white-text-bg: #ffffff;
  --trwhite-text-footer: rgba(255, 255, 255, 0.6);
  --bg-color-hero-footer: #2f303a;
  --bg-secondary-color: #f5f4fa;
  --border-color-portfolio: #eeeeee;
}
.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
  background-color: var(--white-text-bg);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.title {
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}
/* заголовки які не будуть відображаться */
.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* header */
.header {
}
.header-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header-logo.link {
  color: var(--logo-text-color);
}
.logo-accent {
  color: var(--accent-color);
}
.nav .link {
  color: var(--secondary-text-color);
}
.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}
.header .list-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact .link {
  color: var(--primery-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.nav .current-page {
  color: var(--accent-color);
}
/* section hero */
.hero {
  padding-top: 195px;
  padding-bottom: 200px;
  text-align: center;
  margin-bottom: 94px;
  background-color: var(--bg-color-hero-footer);
}
.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  color: var(--white-text-bg);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero .button {
  display: inline-block;
  min-width: 216px;
  padding: 10px 32px;

  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--white-text-bg);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
}
.hero .button:hover,
.hero .button:focus,
.hero .button:active {
  background-color: var(--accent-button);
}
/* section features */
.section-features {
  margin-bottom: 94px;
}
.features-item.title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-text {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.7;
}
/*-----section work----- */
.section-work {
  margin-bottom: 94px;
}

.section.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/*-----section work----- */

/*-----section team----- */
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-secondary-color);
}
.team-item {
  text-align: center;
}
.card {
  margin-bottom: 30px;
}
.team-item.title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team-item.text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
}
/*sechion-portfolio*/
.sechion-portfolio {
  margin-top: 94px;
  margin-bottom: 94px;
  border-color: var(--border-color-portfolio);
}

/* filter-list */
.filter-list {
  margin-bottom: 34px;
}
.filter-btn {
  display: inline-block;
  min-width: 73px;
  padding: 6px 22px;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  background-color: var(--bg-secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  border: none;
  border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
  color: var(--white-text-bg);
  background-color: var(--accent-color);
}
.filter-btn.all {
  padding-left: 25px;
  padding-right: 25px;
}
.filter-btn.web {
}
.filter-btn.addition {
}
.filter-btn.design {
}
.filter-btn.marketing {
}
.portfolio-card {
  margin-bottom: 20px;
}
.portfolio-item {
  border-color: var(--border-color-portfolio);
  width: 370px;
}
.portfolio.title {
  margin-bottom: 4px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio.text {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.9;
}
.portfolio-link {
  text-decoration: none;
  color: inherit;
}
.portfolio-link:hover,
.portfolio-link:focus {
  background-color: rgb(156, 9, 9);
}
/* footer */
.footer {
  background-color: var(--bg-color-hero-footer);
}
.footer-logo {
  color: var(--white-text-bg);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.footer-address .link {
  line-height: 1.7;
  font-style: normal;
}
.footer-address .address {
  color: var(--white-text-bg);
}
.footer-address .contact {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address .link:hover,
.footer-adress .link:focus {
  color: var(--accent-color);
}
